nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 1rem;
        .middle{
            display: flex;
            align-items: center;
            .search{
                display: flex;
                align-items: center;
                gap: 1rem;
                background: #FFFFFF;
                // padding: 0 2rem;
                border-radius: 3rem;
                overflow: hidden;
                input{
                    padding: 1rem 1rem;
                    width: 350px;
                    border: none;
                    background: none;
                }::placeholder, :focus{
                    font-size: 15px;
                    outline: none;
                }
                i{
                    font-size: 1.5rem;
                    background: linear-gradient(to right, #F4C987, #EE9B84);
                    padding:1rem 3rem;
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    border-radius: 3rem;
                    span{
                        font-size: 15px;
                    }
                }
            }
        }
        .last{
            display: flex;
            align-items: center;
            i{
                margin-right: .5rem;
                color: red;
                font-size: 1.5rem;
                font-weight: 100;
                
            }:nth-last-of-type(1){
                margin-left: 1rem;
            }
        }
    }